<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Stats</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img id="profilepic" src="{{this.jobsService.profilepic}}">
  </ion-avatar>
  <div style="display: flex; align-items: center; justify-content: center;">
    <ion-card mode="ios" style="width:60%">
      <br>
      <ion-item color="white" (click)="openCompletedJobs()">
        <ion-icon name="bag-check-outline" slot="start"></ion-icon>
        <ion-label>{{ this.jobsService.currentuser.jobsCompleted }} jobs completed</ion-label>
      </ion-item>
      <br>
      <ion-item color="white" (click)="openCreatedJobs()">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>{{ this.jobsService.currentuser.jobsCreated }} jobs created</ion-label>
        
      </ion-item>
      <br>
      <ion-item color="white">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>${{ this.jobsService.currentuser.moneyMade }} earned</ion-label>
        
      </ion-item>
      <br>
      <ion-item color="white">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>{{ this.jobsService.currentuser.group }} group</ion-label>
      </ion-item>
      <br>
      <ion-item color="white">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>{{ this.jobsService.currentuser.starRating }} star rating</ion-label>
      </ion-item>
      <br>
    </ion-card>
  </div>
 
</ion-content>
