<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reset_password_email" (submit)="resetPassword(reset_password_email.value.email)">
    <ion-item>
      <ion-label color="primary-contrast" position="floating">email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
  
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!reset_password_email.valid">Send Password Reset Link</ion-button>
  </form>


</ion-content>