<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="new_product_form" (submit)="resetPassword(new_product_form.value)">
  <ion-item>
    <ion-label color="primary-contrast" position="floating">email</ion-label>
    <ion-input type="text" formControlName="email" required></ion-input>
  </ion-item>
</form>
</ion-content>
