<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Completed Jobs</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons> 
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="padding: 10px">Completed Jobs</h3>
  <ion-list>
    <ion-item *ngFor="let completedJob of this.jobsService.myCompletedJobs">
    <div class="posts">
    <ion-card>
  
      <ion-card-header>
        <ion-card-title color="secondary">{{ completedJob.title }}</ion-card-title>
        <ion-card-subtitle color="tertiary">{{ completedJob.category }}</ion-card-subtitle>
        <ion-card-subtitle color="tertiary">${{ completedJob.pay }}</ion-card-subtitle>  
      </ion-card-header>
    
      <ion-card-content>
        <p style="color:#101010">{{ completedJob.description }}</p>
      </ion-card-content>
            
    </ion-card>
    </div>
  </ion-item>
</ion-list>
</ion-content>
