<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-buttons slot="end">
      <ion-button (click)="openCreateJob()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-title><center>My Jobs</center></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let job of acceptedJobs">
    
    <ion-card>
  
      <ion-card-header>
        <ion-card-title>{{ job.title }}</ion-card-title>
        <ion-card-subtitle>{{ job.category }}</ion-card-subtitle>
        <ion-card-subtitle>{{ job.pay }}</ion-card-subtitle>  
      </ion-card-header>
    
      <ion-card-content>
        {{ job.description }}
      </ion-card-content>
      <!-- <ion-button (click)="addToMyJobs(post)"> 
        Accept Job
      </ion-button>
      <ion-button  (click)="removeJob(post.title,post.pay,post.category,post.description)">
        Delete
      </ion-button> -->
      
    </ion-card>
  
  </ion-item>
  </ion-list>


</ion-content>
