<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-buttons slot="end">
      <ion-button (click)="openCreateJob()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-title class="ion-text-center">Find Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item *ngFor="let post of this.jobsService.posts">
  <div tabindex="0"></div>
  <ion-card>

    <ion-card-header>
      <ion-card-title color="secondary">{{ post.title }}</ion-card-title>
      <ion-card-subtitle color="tertiary">{{ post.category }}</ion-card-subtitle>
      <ion-card-subtitle color="tertiary">{{ post.pay }}</ion-card-subtitle>  
    </ion-card-header>
  
    <ion-card-content>
      <p style="color:#101010">{{ post.description }}</p>
    </ion-card-content>

    <ion-button style="--background:#1f1f1f" (click)="addToMyJobs(post)"> 
      Accept Job
    </ion-button>
    <ion-button style="--background:#1f1f1f" (click)="removeJob(post)">
      Delete
    </ion-button>
    
  </ion-card>

</ion-item>
</ion-list>
</ion-content>
