ion-card{
  display: float !important;
  position: relative !important;
  width: 25em;
  height: 15em;
  margin: auto !important;
 }

.posts{
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

.item{
  display: inline-block;
}

@media only screen and (max-width: 479) {
.posts{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
}

ion-card{
  width: 80% !important;
}
}

