<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Welcome</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="goToFindJobs()">
        Skip
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tab">
    <style>
      a:link {
        color: white; 
        background-color: transparent; 
        text-decoration: underline;
      }
      
      a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      </style>
  <body>
    <p><br>Welcome to WorkAnyPlace, the app designed to help you find or post small jobs in your area! <br>
      <br>After creating your account, users have the ability to accept or post jobs from the Find Jobs page. <br>
      <br>Once a job is accepted a conversation is started between the job poster and the job accepter where they can work out the details of when and how the job will be completed. <br>
      <br>After job completion, the worker can complete the job from their My Job page which will allow the job poster to give them a rating or feedback. <br>
      <br>If you are using this app to post jobs, this can be done from either the Find Jobs or My Jobs page by selecting the plus in the top right corner and filling out the job inputs. <br>
      <br>The Stats page displays the user’s jobs completed, jobs created, star rating, money made and group.</p>
    <p><br></p>
    <p><b>About The Creators: </b></p>
    <p>Anthony Castellano, Senior, Computer Science, <a href="https://www.linkedin.com/in/anthony-castellano-usc/">LinkedIn</a></p>
    <p>Brandon Race, Senior, Computer Science, <a href="https://www.linkedin.com/in/brandon-race/">LinkedIn</a></p>
    <p>Caleb Ulch, Senior, Computer Science</p>
    <p>Janki Patel, Senior, Computer Engineering, <a href="https://www.linkedin.com/in/jpatel25/">LinkedIn</a></p>
    <p>Nick Rabena, Senior, Computer Engineering, <a href="https://www.linkedin.com/in/nicholas-r-263305ba/">LinkedIn</a></p>
    <p><br></p>
    <p><b>GitHub Repository: <a href="https://github.com/SCCapstone/WorkAnyPlace">https://github.com/SCCapstone/WorkAnyPlace</a></b></p>
  </body>
</div>
</ion-content>
