<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Welcome</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="goToFindJobs()">
        Skip
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tab">
    <style>
      a:link {
        color: white; 
        background-color: transparent; 
        text-decoration: underline;
      }
      
      a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: white;
        background-color: transparent;
        text-decoration: underline;
      }
      </style>
  <body>
    <p><br></p>
    <p><b>About The Creators: </b></p>
    <p>Anthony Castellano, Senior, Computer Science, <a href="https://www.linkedin.com/in/anthony-castellano-usc/">LinkedIn</a></p>
    <p>Brandon Race, Senior, Computer Science, <a href="https://www.linkedin.com/in/brandon-race/">LinkedIn</a></p>
    <p>Caleb Ulch, Senior, Computer Science</p>
    <p>Janki Patel, Senior, Computer Engineering, <a href="https://www.linkedin.com/in/jpatel25/">LinkedIn</a></p>
    <p>Nick Rabena, Senior, Computer Engineering, <a href="https://www.linkedin.com/in/nicholas-r-263305ba/">LinkedIn</a></p>
    <p><br></p>
    <p><b>GitHub Repository: <a href="https://github.com/SCCapstone/WorkAnyPlace">https://github.com/SCCapstone/WorkAnyPlace</a></b></p>
  </body>
</div>
</ion-content>
