<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Account Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
  <ion-list-header>
    Username:
  </ion-list-header>
  <ion-item>
    
    <ion-input type="text" [(ngModel)]="username" text-right id="input" placeholder={{this.jobsService.currentuser.username}}></ion-input>
    <ion-button (click)='updateUserName()'>
      Update
    </ion-button>
  </ion-item>


  <ion-list-header>
    Email:
  </ion-list-header>
  <ion-item>
    
    <ion-input type="text" [(ngModel)]="email" text-right id="input" placeholder={{this.jobsService.currentuser.email}}></ion-input>
    <ion-button (click)='updateEmail()'>
      Update
    </ion-button>
  </ion-item>

  <ion-list-header>
    Group:
  </ion-list-header>
  <ion-item>
    
    <ion-input type="text" [(ngModel)]="group" text-right id="input" placeholder={{this.jobsService.currentuser.group}}></ion-input>
    <ion-button (click)='updateGroup()'>
      Update
    </ion-button>
  </ion-item>

  </ion-list>
  
  <ion-list-header>
    Change Profile Pic:
  </ion-list-header>
  <ion-button (click)="goToImage()">
    Select
  </ion-button>
<ion-content>

