<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>

    <ion-title><center>Account Settings</center></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
  <ion-list-header>
    Name:
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label position = "floating"></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-list-header>
    Username:
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label position = "floating"></ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-list-header>
    Email:
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label position = "floating"></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-list-header>
    Group:
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label position = "floating"></ion-label>
    <ion-input></ion-input>
  </ion-item>


  </ion-list>

  <ion-buttons>
    <ion-button (click)="backToStats()" fill="solid" slot="center">
      Save
    </ion-button>
  </ion-buttons> 
<ion-content>

